.divP {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .divProduct2 {
    justify-content: center;
    align-items: end;
    background-color: var(--Button, #000);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px 60px;
  }
  @media (max-width: 991px) {
    .divProduct2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divProduct3 {
    display: flex;
    margin-right: 73px;
    width: 859px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .divProduct3 {
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .divProduct4 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  @media (max-width: 991px) {
    .divProduct4 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divProduct5 {
    color: var(--Text, #fafafa);
    flex-grow: 1;
    margin: auto 0;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct5 {
      max-width: 100%;
    }
  }
  .divProduct6 {
    color: var(--Text, #fafafa);
    text-align: center;
    text-decoration-line: underline;
    align-self: stretch;
    white-space: nowrap;
    font: 600 14px/24px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct6 {
      white-space: initial;
    }
  }
  .divProduct7 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .divProduct8 {
    color: var(--Text, #fafafa);
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct8 {
      white-space: initial;
    }
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .divProduct9 {
    align-items: center;
    display: flex;
    margin-top: 40px;
    width: 100%;
    max-width: 1170px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .divProduct9 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divProduct10 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .divProduct10 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divProduct11 {
    color: var(--Text2, #000);
    letter-spacing: 0.72px;
    margin: auto 0;
    font: 700 24px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct12 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 4px 1px;
  }
  .divProduct13 {
    color: var(--Text2, #000);
    text-align: center;
    align-self: start;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct14 {
    color: var(--Text2, #000);
    text-align: center;
    align-self: start;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct15 {
    color: var(--Text2, #000);
    text-align: center;
    align-self: start;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct16 {
    color: var(--Text2, #000);
    text-align: center;
    align-self: stretch;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct17 {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .divProduct18 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 7px 12px 7px 20px;
  }
  .divProduct19 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .divProduct20 {
    color: var(--Text2, #000);
    margin: auto 0;
    font: 400 12px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct21 {
    justify-content: center;
    align-self: center;
    display: flex;
    gap: 16px;
    margin: auto 0;
    padding: 0 20px;
  }
  .imgProduct2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    overflow: hidden;
    max-width: 100%;
  }
  .imgProduct3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .imgProduct4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct22 {
    background-color: #000;
    align-self: stretch;
    min-height: 1px;
    margin-top: 16px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .divProduct22 {
      max-width: 100%;
    }
  }
  .divProduct23 {
    display: flex;
    margin-top: 79px;
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
    align-items: start;
    padding: 0 1px;
  }
  @media (max-width: 991px) {
    .divProduct23 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .divProduct24 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
  }
  .divProduct25 {
    color: var(--Text2, #000);
    white-space: nowrap;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct25 {
      white-space: initial;
    }
  }
  .divProduct26 {
    color: var(--Text2, #000);
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct27 {
    color: var(--Text2, #000);
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct27 {
      white-space: initial;
    }
  }
  .divProduct28 {
    align-self: stretch;
    margin-top: 80px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .divProduct28 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .divProduct29 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divProduct29 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnP {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 15%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnP {
      width: 100%;
    }
  }
  .divProduct30 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct30 {
      margin-top: 30px;
    }
  }
  .divProduct31 {
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-direction: column;
    padding: 12px 25px;
  }
  @media (max-width: 991px) {
    .divProduct31 {
      padding: 0 20px;
    }
  }
  .imgProduct5 {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 121px;
    overflow: hidden;
  }
  .divProduct32 {
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    padding: 21px 29px;
  }
  @media (max-width: 991px) {
    .divProduct32 {
      padding: 0 20px;
    }
  }
  .imgProduct6 {
    aspect-ratio: 1.15;
    object-fit: contain;
    object-position: center;
    width: 112px;
    overflow: hidden;
  }
  .divProduct33 {
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    padding: 22px 18px;
  }
  .imgProduct7 {
    aspect-ratio: 1.43;
    object-fit: contain;
    object-position: center;
    width: 134px;
    overflow: hidden;
  }
  .divProduct34 {
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    padding: 16px 24px;
  }
  @media (max-width: 991px) {
    .divProduct34 {
      padding: 0 20px;
    }
  }
  .imgProduct8 {
    aspect-ratio: 1.15;
    object-fit: contain;
    object-position: center;
    width: 122px;
    overflow: hidden;
  }
  .columnProduct2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 49%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnProduct2 {
      width: 100%;
    }
  }
  .divProduct35 {
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 50px 27px;
  }
  @media (max-width: 991px) {
    .divProduct35 {
      max-width: 100%;
      margin-top: 30px;
      padding: 0 20px;
    }
  }
  .imgProduct9 {
    aspect-ratio: 1.42;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin: 104px 0 55px;
  }
  @media (max-width: 991px) {
    .imgProduct9 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .columnProduct3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 52px;
  }
  @media (max-width: 991px) {
    .columnProduct3 {
      width: 100%;
    }
  }
  .divProduct36 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct36 {
      margin-top: 33px;
    }
  }
  .divProduct37 {
    color: var(--Text2, #000);
    letter-spacing: 0.72px;
    align-self: stretch;
    font: 600 24px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct38 {
    align-self: stretch;
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    gap: 16px;
  }
  .divProduct39 {
    align-items: start;
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct10 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-items: flex-start;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct40 {
    color: var(--Text2, #000);
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct41 {
    color: var(--Button1, #0f6);
    white-space: nowrap;
    padding-left: 16px;
    justify-content: center;
    font: 400 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct41 {
      white-space: initial;
    }
  }
  .divProduct42 {
    color: var(--Text2, #000);
    letter-spacing: 0.72px;
    align-self: stretch;
    margin-top: 17px;
    font: 400 24px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct43 {
    color: #000;
    align-self: stretch;
    margin-top: 29px;
    font: 400 14px/21px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct44 {
    background-color: #000;
    align-self: stretch;
    margin-top: 29px;
    height: 1px;
  }
  .divProduct45 {
    align-self: start;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
  }
  .divProduct46 {
    color: #000;
    letter-spacing: 0.6px;
    font: 400 20px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct47 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct48 {
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
  }
  .divProduct49 {
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
  }
  .divProduct50 {
    color: #000;
    letter-spacing: 0.6px;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 20px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct50 {
      white-space: initial;
    }
  }
  .divProduct51 {
    align-self: stretch;
    display: flex;
    padding-right: 80px;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .divProduct51 {
      padding-right: 20px;
    }
  }
  .divProduct52 {
    color: var(--Text2, #000);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    height: 32px;
    padding: 0 8px;
    font: 500 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct52 {
      white-space: initial;
    }
  }
  .divProduct53 {
    color: var(--Text2, #000);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    height: 32px;
    padding: 0 13px;
    font: 500 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct53 {
      white-space: initial;
    }
  }
  .divProduct54 {
    color: var(--Text, #fafafa);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    aspect-ratio: 1;
    height: 32px;
    padding: 0 11px;
    font: 500 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct54 {
      white-space: initial;
    }
  }
  .divProduct55 {
    color: var(--Text2, #000);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    height: 32px;
    padding: 0 14px;
    font: 500 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct55 {
      white-space: initial;
    }
  }
  .divProduct56 {
    color: var(--Text2, #000);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    aspect-ratio: 1;
    height: 32px;
    padding: 0 9px;
    font: 500 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct56 {
      white-space: initial;
    }
  }
  .divProduct57 {
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    padding: 0 1px;
  }
  .divProduct58 {
    align-self: stretch;
    display: flex;
    gap: 0px;
  }
  .imgProduct12 {
    aspect-ratio: 0.91;
    object-fit: contain;
    object-position: center;
    width: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct59 {
    color: var(--Text2, #000);
    white-space: nowrap;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    padding: 15px 35px;
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct59 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .imgProduct13 {
    aspect-ratio: 0.93;
    object-fit: contain;
    object-position: center;
    width: 41px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct60 {
    color: var(--Text, #fafafa);
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Button2, #db4444);
    align-self: center;
    padding: 10px 48px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
    cursor: pointer;
  }
  .buyBtn {
    
  }
  @media (max-width: 991px) {
    .divProduct60 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .imgProduct14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 42px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct61 {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-self: stretch;
    display: flex;
    margin-top: 40px;
    width: 100%;
    flex-direction: column;
    padding: 24px 0;
  }
  .divProduct62 {
    align-items: center;
    align-self: start;
    display: flex;
    margin-left: 16px;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .divProduct62 {
      margin-left: 10px;
    }
  }
  .imgProduct15 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .divProduct63 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct64 {
    color: #000;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct65 {
    color: #000;
    text-decoration-line: underline;
    margin-top: 8px;
    white-space: nowrap;
    font: 500 12px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct65 {
      white-space: initial;
    }
  }
  .divProduct66 {
    background-color: #000;
    margin-top: 15px;
    height: 1px;
  }
  .divProduct67 {
    align-items: center;
    align-self: start;
    display: flex;
    gap: 16px;
    margin: 16px 0 0 16px;
  }
  @media (max-width: 991px) {
    .divProduct67 {
      margin-left: 10px;
    }
  }
  .imgProduct16 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .divProduct68 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct69 {
    color: #000;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct70 {
    color: #000;
    text-decoration-line: underline;
    margin-top: 8px;
    white-space: nowrap;
    font: 500 12px/18px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct70 {
      white-space: initial;
    }
  }
  .divProduct71 {
    display: flex;
    margin-top: 140px;
    gap: 16px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .divProduct71 {
      margin-top: 40px;
    }
  }
  .divProduct72 {
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    display: flex;
    width: 20px;
    height: 40px;
    flex-direction: column;
  }
  .divProduct73 {
    color: var(--Secondary-2, #db4444);
    align-self: center;
    margin: auto 0;
    font: 600 16px/125% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct74 {
    align-self: stretch;
    margin-top: 60px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .divProduct74 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .divProduct75 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divProduct75 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnProduct4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnProduct4 {
      width: 100%;
    }
  }
  .divProduct76 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct76 {
      margin-top: 30px;
    }
  }
  .divProduct77 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    justify-content: space-between;
    gap: 3px;
    padding: 12px 12px 49px;
  }
  .divProduct78 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct79 {
    color: var(--Text, #fafafa);
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    padding: 4px 12px;
    font: 400 12px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .imgProduct17 {
    aspect-ratio: 1.13;
    object-fit: contain;
    object-position: center;
    width: 172px;
    overflow: hidden;
    align-self: end;
    margin-top: 11px;
    max-width: 100%;
  }
  .divProduct80 {
    align-items: center;
    align-self: start;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
  }
  .imgProduct18 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    overflow: hidden;
  }
  .imgProduct19 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    overflow: hidden;
    margin-top: 8px;
  }
  .divProduct81 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct82 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
  }
  .divProduct83 {
    color: var(--Secondary-2, #db4444);
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct84 {
    color: var(--Button, #000);
    text-decoration-line: strikethrough;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct85 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct20 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-items: flex-start;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct86 {
    color: var(--Text2, #000);
    font: 600 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .columnProduct5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnProduct5 {
      width: 100%;
    }
  }
  .divProduct87 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct87 {
      margin-top: 30px;
    }
  }
  .divProduct88 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
  }
  .imgProduct21 {
    aspect-ratio: 1.71;
    object-fit: contain;
    object-position: center;
    width: 246px;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct89 {
    color: #fff;
    white-space: nowrap;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--Button, #000);
    align-self: stretch;
    margin-top: 53px;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct89 {
      white-space: initial;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .divProduct90 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct91 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
  }
  .divProduct92 {
    color: var(--Secondary-2, #db4444);
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct93 {
    color: var(--Button, #000);
    text-decoration-line: strikethrough;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct94 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct22 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-items: flex-start;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct95 {
    color: var(--Text2, #000);
    font: 600 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .columnProduct6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnProduct6 {
      width: 100%;
    }
  }
  .divProduct96 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct96 {
      margin-top: 30px;
    }
  }
  .divProduct97 {
    border-radius: 4px;
    background-color: var(--Secondary, #f5f5f5);
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
    padding: 12px 12px 50px;
  }
  .divProduct98 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct99 {
    color: var(--Text, #fafafa);
    justify-content: center;
    border-radius: 4px;
    background-color: var(--Secondary-2, #db4444);
    padding: 4px 12px;
    font: 400 12px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .imgProduct23 {
    aspect-ratio: 1.32;
    object-fit: contain;
    object-position: center;
    width: 170px;
    overflow: hidden;
    align-self: end;
    margin-top: 23px;
    max-width: 100%;
  }
  .divProduct100 {
    align-items: center;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
  }
  .imgProduct24 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    overflow: hidden;
  }
  .imgProduct25 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    overflow: hidden;
    margin-top: 8px;
  }
  .divProduct101 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct102 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
  }
  .divProduct103 {
    color: var(--Secondary-2, #db4444);
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct104 {
    color: var(--Button, #000);
    text-decoration-line: strikethrough;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct105 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct26 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-items: flex-start;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct106 {
    color: var(--Text2, #000);
    font: 600 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .columnProduct7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnProduct7 {
      width: 100%;
    }
  }
  .divProduct107 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .divProduct107 {
      margin-top: 30px;
    }
  }
  .imgProduct27 {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  .divProduct108 {
    color: #000;
    margin-top: 16px;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct109 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 12px;
  }
  .divProduct110 {
    color: var(--Secondary-2, #db4444);
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct111 {
    color: var(--Button, #000);
    text-decoration-line: strikethrough;
    font: 500 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct112 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct28 {
    aspect-ratio: 5;
    object-fit: contain;
    object-position: center;
    width: 100px;
    align-items: flex-start;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct113 {
    color: var(--Text2, #000);
    font: 600 14px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct114 {
    justify-content: flex-end;
    align-items: center;
    background-color: var(--Button, #000);
    align-self: stretch;
    display: flex;
    margin-top: 140px;
    width: 100%;
    flex-direction: column;
    padding: 50px 0 24px;
  }
  @media (max-width: 991px) {
    .divProduct114 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .divProduct115 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    margin-top: 30px;
    width: 100%;
    max-width: 1170px;
    gap: 20px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .divProduct115 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divProduct116 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 2px 0;
  }
  .divProduct117 {
    color: var(--Text, #fafafa);
    letter-spacing: 0.72px;
    font: 700 24px/100% Inter, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct117 {
      margin-right: 6px;
    }
  }
  .divProduct118 {
    color: var(--Text, #fafafa);
    margin-top: 27px;
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct118 {
      margin-right: 6px;
    }
  }
  .divProduct119 {
    color: var(--Text, #fafafa);
    margin-top: 24px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct119 {
      white-space: initial;
    }
  }
  .divProduct120 {
    border-radius: 4px;
    border: 1.5px solid var(--Text, #fafafa);
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 16px;
  }
  .divProduct121 {
    color: var(--Text, #fafafa);
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .imgProduct29 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct122 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct123 {
    color: var(--Text, #fafafa);
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct124 {
    color: var(--Text, #fafafa);
    margin-top: 24px;
    font: 400 16px/24px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct125 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct125 {
      white-space: initial;
    }
  }
  .divProduct126 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct126 {
      white-space: initial;
    }
  }
  .divProduct127 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct128 {
    color: var(--Text, #fafafa);
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct129 {
    color: var(--Text, #fafafa);
    margin-top: 24px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct129 {
      white-space: initial;
    }
  }
  .divProduct130 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct130 {
      white-space: initial;
    }
  }
  .divProduct131 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct132 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct133 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct134 {
    align-self: start;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct135 {
    color: var(--Text, #fafafa);
    white-space: nowrap;
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct135 {
      white-space: initial;
    }
  }
  .divProduct136 {
    color: var(--Text, #fafafa);
    margin-top: 24px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct136 {
      white-space: initial;
    }
  }
  .divProduct137 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct137 {
      white-space: initial;
    }
  }
  .divProduct138 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct139 {
    color: var(--Text, #fafafa);
    margin-top: 16px;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct140 {
    align-self: start;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .divProduct141 {
    color: var(--Text, #fafafa);
    font: 500 20px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .divProduct142 {
    color: var(--Text, #fafafa);
    margin-top: 24px;
    white-space: nowrap;
    font: 500 12px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct142 {
      white-space: initial;
    }
  }
  .divProduct143 {
    align-items: center;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
  }
  .imgProduct30 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 80px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .divProduct144 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .imgProduct31 {
    aspect-ratio: 2.75;
    object-fit: contain;
    object-position: center;
    width: 110px;
    overflow: hidden;
  }
  .imgProduct32 {
    aspect-ratio: 2.75;
    object-fit: contain;
    object-position: center;
    width: 110px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 4px;
  }
  .divProduct145 {
    display: flex;
    margin-top: 24px;
    padding-right: 30px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .divProduct145 {
      padding-right: 20px;
    }
  }
  .imgProduct33 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .imgProduct34 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .imgProduct35 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }
  .imgProduct36 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .divProduct146 {
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 60px;
    width: 100%;
    flex-direction: column;
    padding: 16px 60px 0;
  }
  @media (max-width: 991px) {
    .divProduct146 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .divProduct147 {
    align-items: center;
    display: flex;
    gap: 6px;
  }
  .imgProduct37 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
  }
  .divProduct148 {
    color: var(--Primary, #fff);
    align-self: stretch;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 16px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .divProduct148 {
      white-space: initial;
    }
  }